* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
  font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
}

body {
  display: flex;
  justify-content: center;
  background-color: #D4D4D2;
}

.iphone {
  display: flex;
  flex-direction: column;
  gap: 7px;

  margin-top: 15px;
  width: 385px;
  height: 750px;
  border-radius: 25px;
  background: linear-gradient(to bottom, #1C1C1C, #000000); /* lato più scuro sotto */

  border: 2px solid #333;
  box-shadow: 
    inset 0 1px 2px rgba(255,255,255,0.1),  /* Highlight interno */
    inset 0 -1px 2px rgba(0,0,0,0.5),       /* Ombra interna */
    0 20px 40px rgba(0, 0, 0, 0.4),
    0 10px 20px rgba(0, 0, 0, 0.3),
    0 5px 10px rgba(0, 0, 0, 0.2);
}

.display {
  flex: 4;

  display: flex;
  justify-content: flex-start;
  align-items: flex-end;

  padding: 0px 10px 10px 10px;
  font-size: 60px;
  color: white;

  /* Proprietà per lo scorrimento orizzontale */
  overflow-x: auto; /* permette lo scorrimento orizzontale quando necessario */
  overflow-y: hidden; /* impedisce lo scorrimento verticale*/
}

.display-text {
  white-space: nowrap; /* Obbligo il testo a non andare a capo*/
  text-align: right;
  width: 100%;  /* Occupa tutta la larghezza iniziale disponibile */
  min-width: fit-content; /* Si espande oltre il 100% quando necessario */
}

/* Personalizzazione scrollbar per WebKit (Chrome, Safari, Edge) */
.display::-webkit-scrollbar {
  height: 6px;
}

.display::-webkit-scrollbar-track {
  background: transparent;
}

.display::-webkit-scrollbar-thumb {
  background-color: #666;
  border-radius: 4px;
}

.display::-webkit-scrollbar-thumb:hover {
  background-color: #888;
}


.keyboard {
  flex: 7.5;
  display: flex;
  flex-direction: column;
  justify-content: space-around;
  color: white;
}

.keyboard .row {
  flex: 1;
  display: flex;
  flex-direction: row;
  justify-content: space-evenly;
  align-items: center;
}

.row button {
  width: 80px;
  height: 80px;
  border-radius: 50%;
  border: none;
  font-size: 36px;
  font-weight: normal;
  cursor: pointer;
  color: white;
  transition: opacity 0.1s linear;
  transition: background-color 0.1s linear;

  /* Per centrare il simbolo */
  display: inline-flex; 
  justify-content: center;
  align-items: center;  
}

.iphone .row button:active {
  opacity: 40%;
  box-shadow: inset 0 1px 2px rgba(0, 0, 0, 0.195); 
}

 .row button.top-left-buttons {
  background-color: #D4D4D2;
  color: black;
}

 .row button.center-buttons {
  background-color: #505050;
}

.row button.right-buttons {
  background-color: #FF9500;
}

.btn-container {
  flex: 1;
  display: flex;
  justify-content: center;
  align-items: center;
  margin-top: 5px;
}

.iphone-button {
  width: 50px;
  height: 50px;
  border-radius: 50%;
  border: none;
  background-color: #1c1c1e;
  color: white;
  font-size: 32px; /* grandezza dell’icona */
  cursor: pointer;

  margin-bottom: 5px;
  border: solid 1px rgba(245, 245, 245, 0.471);
  /* Per centrare il bottone */
  display: inline-flex; 
  justify-content: center;
  align-items: center;   
}

.iphone-button:active {
  transform: scale(0.95); /* effetto pressione */
}



